<article>
  <section>
    <div class="jumbotron center">
      <h1>About</h1>
      <p><%= link_to "Go Home", root_path, class: "btn btn-primary btn-large btn-main" %></p>
      <%= image_tag "snorlax/back.gif" %>
    </div>
  </section>
</article>