<article>
  <section>
    <div class="jumbotron center">
      <h1>Alpha Blog</h1>
      <p>
        <%= link_to "About", about_path, class: "btn btn-primary btn-large btn-main" %> 
        <%= link_to "Blog", articles_path, class: "btn btn-primary btn-large btn-main" %> 
        <%= link_to "Sign up", "#", class: "btn btn-primary btn-large btn-main" %> 
      </p>
      <div class="snorlax-image"><%= image_tag "snorlax/front.gif" %></div>
    </div>
  </section>
</article>