<article>
  <section>
    <div class="jumbotron center">
      <h1>Alpha Blog</h1>
      <p><%= link_to "Sign up now", "#", class: "btn btn-primary btn-large" %>
    </div>
    - <%= link_to "Alpha Blog", articles_path %> -<br />
    - <%= link_to "About", about_path %> -<br />
    <%= image_tag "https://data.whicdn.com/images/286687755/original.gif" %>
  </section>
</article>