$alpha-blog-bg-color: #5c2b63;
$alpha-blog-link-color: #42f4df;
$alpha-blog-link-hovercolor: white;
$alpha-blog-text-color: yellow;
$alpha-blog-red: #fe2725;
$alpha-blog-darkred: #c55142;
$alpha-blog-btn-color: $alpha-blog-red;
$alpha-blog-btn-hovercolor: $alpha-blog-darkred;

$navbar-default-bg: $alpha-blog-bg-color;

@import "bootstrap-sprockets";
@import "bootstrap";


 
* {
  margin: 0;
  padding: 0;
}
body, html {
  height: 100%;
  width: 100%;
}

body {
  font-family: helvetica, sans-serif;
  color: #f2f2f2;
  background: $alpha-blog-bg-color;
  position: relative;
}
h1 {
  margin-bottom: 1rem;
}
h1.form-heading {
  text-align: center;
}
a {
  color: $alpha-blog-link-color;
  text-decoration: none;
  &:hover {
    color: $alpha-blog-link-hovercolor;
  }
}





// bootstrap overrides
.navbar-default .navbar-nav > li > a {
 color: $alpha-blog-link-color; 
 &:hover {
   color: $alpha-blog-link-hovercolor;
 }
}
#logo {
  float: left;
  font-size: 1.7rem;
  color: $alpha-blog-text-color;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
    transition: color 1s;
  }
}
.center {
  text-align: center;
}
.jumbotron {
  background-color: transparent;
  background-image: asset-url('backgrounds/grocery-store.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  h1 {
    color: $alpha-blog-text-color;
    font-size: 9rem;
    font-family: "Courier New", Courier, monospace;
    font-weight: 900;
    text-shadow: 6px 6px 0 #b64b9d, -3px -3px 0 #b64b9d, 3px -3px 0 #b64b9d, -3px 3px 0 #b64b9d, 3px 3px 0 #b64b9d;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
    margin-bottom: 2rem;
  }
  .snorlax-image {
    min-height: 200px;
  }
  .snorlax-back {
    margin-top: 12px;
  }
}
.btn-main {
  color: $alpha-blog-text-color;
  font-size: 2rem;
  transition: background 1s;
  background: $alpha-blog-btn-color;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  margin-bottom: 2rem;
  &:hover {
    background: $alpha-blog-btn-hovercolor;
  }
}

.article-actions {
 border-top: 1px solid #eaeaea; 
 text-align: center;
 padding-top: 2rem;
 margin-top: 2rem;
}

.footer-nav {
  list-style-type: none;
  li {
    display: inline-block;
    margin: 0 .25rem;
  }
}


.well, .panel {
  background: transparent;
}

