<div class="container">
  <footer class="footer">
    <small>&copy; Copyright <%= Date.today.year %></small>
  </footer>  
  <nav>
    <ul class="footer-nav">
      <li><%= link_to "Blog", articles_path %></li>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</div>
